:root {
  --letra-navbar: #00adf1;
  --letra-body: #054752;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* section 1, zona banner */
.div-banner {
  width: 100%;
}

.img-banner {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: 50% 50%;
  position: relative;
  filter: brightness(80%);
}
.overlay {
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif, Helvetica, Arial;
}

main {
  flex-grow: 1;
  color: var(--letra-body);
}

.navbar {
  position: fixed;
  background-color: #f0f0f0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.f-nav {
  color: var(--letra-navbar);
  font-weight: bold;
}

.f-nav:hover {
  color: #0093cd;
  transition: 0.3s;
}

/* Estilos del navbar */

.brand {
  height: 100px;
  width: 161px;
}

.nav-link:active {
  color: var(--letra-navbar);
}

/* Estilos del formulario de busqueda */
.formulario-buscador {
}

@media screen and (max-width: 990px) {
  .responsive-toogle {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .overlay {
    display: none;
  }
}
